:root {
  --darkBlue: #000110;
  --lightBlue: #76abae;
  --pink: #ee626b;
  --white: #e0ded2;
}

/*

TemplateMo 589 lugx gaming

https://templatemo.com/tm-589-lugx-gaming

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. game experience
08. rules
09. Info
09. footer

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #31363F; */
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  font-family: "Poppins", sans-serif;
}

::selection {
  background: var(--darkBlue);
  color: #fff;
}

::-moz-selection {
  background: var(--darkBlue);
  color: #fff;
}

.section {
  margin-top: 120px;
}

.section-heading {
  margin-bottom: 70px;
}

.section-heading h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 20px;
  line-height: 44px;
}

.section-heading h2 em {
  font-style: normal;
  color: var(--darkBlue);
}

.section-heading h6 {
  color: var(--lightBlue);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-button a {
  display: inline-block;
  background-color: var(--lightBlue);
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  padding: 0px 30px;
  border-radius: 25px;
  transition: all 0.3s;
  width: 100%;
}

.main-button a:hover {
  background-color: var(--darkBlue);
  color: #fff;
}

.ellipsis {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.99);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: var(--darkBlue);
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: var(--pink);
  border-radius: 50%;
}

/* 
---------------------------------------------
Header Style
--------------------------------------------- 
*/

.background-header {
  background-color: var(--darkBlue) !important;
  border-radius: 0px 0px 25px 25px;
  height: 80px !important;
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.background-header .logo img {
  max-width: 110px;
  transition: 0.5s all linear;
}

.header-area {
  position: absolute;
  background-color: transparent;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-area .main-nav {
  background: transparent;
  display: flex;
}

.header-area .main-nav .logo {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

/* .background-header .logo {
  left: 55px;
  position: absolute;
} */

.header-area .main-nav .logo h1 {
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  margin-right: 30px;
  padding-right: 30px;
  border-right: 1px solid rgba(250, 250, 250, 0.3);
}

.background-header .main-nav .logo {
  margin-top: 18px;
}

.header-area .main-nav ul.nav {
  border-radius: 0px 0px 25px 25px;
  flex-basis: 100%;
  margin-top: 10px;
  justify-content: right;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  line-height: 40px;
}

.header-area .main-nav .nav li a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-weight: 300;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  text-transform: capitalize;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: transparent;
  letter-spacing: 0.25px;
}

.header-area .main-nav .nav li:last-child a {
  background-color: var(--lightBlue);
  text-transform: uppercase;
  font-weight: 500;
}

.header-area .main-nav .nav li:last-child:hover a {
  background-color: var(--lightBlue);
}

.header-area .main-nav .nav li:hover a {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-area .main-nav .nav li a.active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.background-header .main-nav .nav li a.active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 20px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 22px;
}

.background-header .main-nav ul.nav {
  margin-top: 20px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #fff;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #fff;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #fff;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #fff;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #fff;
}

.header-area.header-sticky .nav li a.active {
  color: #fff;
}

.background-header.header-sticky .logo img {
  width: 50px;
}

.visible {
  display: inline !important;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 767px) {
  .background-header .main-nav {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 25px 25px;
    width: 100%;
  }

  .background-header .main-nav .nav li a,
  .header-area .main-nav .nav li a {
    line-height: 50px;
    height: 50px;
    font-weight: 400;
    color: var(--white);
    border-radius: 0px 0px 25px 25px;
  }
  .background-header .main-nav .nav li,
  .header-area .main-nav .nav li {
    border-top: 1px solid #ddd;
    height: 50px;
    border-radius: 0px 0px 25px 25px;
  }
  .background-header .main-nav .nav,
  .header-area .main-nav .nav {
    /* background-color: var(--pink); */
    background-color: #10111f;
  }
  .background-header .main-nav .nav li:last-child,
  .header-area .main-nav .nav li:last-child {
    border-radius: 0px 0px 25px 25px;
  }
  .header-area .main-nav .nav {
    height: auto;
    flex-basis: 100%;
  }
  .header-area .main-nav .logo {
    position: absolute;
    left: 30px;
    top: 0px;
  }
  .background-header .main-nav .logo {
    top: 0px;
  }
  .background-header .main-nav .border-button {
    top: 0px !important;
  }
  .header-area .main-nav .border-button {
    position: absolute;
    top: 15px;
    right: 70px;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: var(--lightBlue) !important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area .nav li:last-child a {
    background-color: transparent !important;
    font-weight: 300 !important;
    text-transform: capitalize !important;
  }
  .header-area {
    background-color: transparent;
    padding: 0px 15px;
    height: 80px;
    box-shadow: none;
    text-align: center;
  }
  .header-area .container {
    padding: 0px;
  }
  .header-area .logo {
    margin-left: 0px;
    margin-top: 30px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area.header-sticky .nav {
    margin-top: 100px !important;
  }
  .background-header.header-sticky .nav {
    margin-top: 80px !important;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.header-area .social-media {
  opacity: 0;
}

.header-area.background-header .social-media {
  opacity: 1;
  position: absolute;
  right: 30px;
  top: 10px;
}

.social-media img {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  opacity: 1;
}

.social-media-twitter {
  scale: 0.95;
}

.main-banner {
  background-image: radial-gradient(
      circle at 17% 77%,
      rgba(17, 17, 17, 0.04) 0%,
      rgba(17, 17, 17, 0.04) 50%,
      rgba(197, 197, 197, 0.04) 50%,
      rgba(197, 197, 197, 0.04) 100%
    ),
    radial-gradient(
      circle at 26% 17%,
      rgba(64, 64, 64, 0.04) 0%,
      rgba(64, 64, 64, 0.04) 50%,
      rgba(244, 244, 244, 0.04) 50%,
      rgba(244, 244, 244, 0.04) 100%
    ),
    radial-gradient(
      circle at 44% 60%,
      rgba(177, 177, 177, 0.04) 0%,
      rgba(177, 177, 177, 0.04) 50%,
      rgba(187, 187, 187, 0.04) 50%,
      rgba(187, 187, 187, 0.04) 100%
    ),
    linear-gradient(19deg, rgb(0, 1, 16), rgb(0, 1, 16));
  border-radius: 0px 0px 150px 150px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 225px 0px;
  position: relative;
}

.main-banner .social-media {
  position: absolute;
  right: 2%;
  top: 40%;
}

.main-banner .social-media a {
  display: block;
}

.main-banner .caption h6 {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.main-banner .caption h2 {
  font-size: 52px;
  color: #fff;
  margin-top: 20px;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.main-banner .caption h2:after {
  position: absolute;
  background-image: url(https://cdn.brainwars.win/assets%2Fimages%2Fcaption-dec.png);
  width: 239px;
  height: 12px;
  content: "";
  left: 336px;
  bottom: 0;
  background-size: cover;
}

.main-banner .caption p {
  color: #fff;
  margin-bottom: 70px;
  font-size: 1.05em;
}

.main-banner .caption form {
  position: relative;
  max-width: 450px;
}

.main-banner .caption form input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 25px;
  background-color: #fff;
  border: none;
  padding: 0px 25px;
  font-size: 14px;
  color: #7a7a7a;
}

.main-banner .caption button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background-color: var(--lightBlue);
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 50px;
  border: none;
  border-radius: 25px;
  transition: all 0.3s;
}

.main-banner .caption button:hover {
  background-color: var(--pink);
}

.main-banner .right-image {
  position: relative;
}

.main-banner .right-image img {
  border-radius: 25px;
}

.main-banner .right-image span.price {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 25px;
  background-color: var(--pink);
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 4px 15px;
}

.main-banner .right-image span.offer {
  position: absolute;
  left: -25px;
  bottom: -25px;
  border-radius: 50%;
  background-color: var(--lightBlue);
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

@media (max-width: 767px) {
  .main-banner .social-media {
    position: absolute;
    top: 20px;
    right: 70px;
    scale: 0.85;
  }
  .main-banner .social-media img {
    height: 40px;
    width: 40px;
    position: relative;
    opacity: 0;
  }
  .header-area .social-media {
    opacity: 1;
    position: absolute;
    top: 20px;
    right: 70px;
    scale: 0.85;
  }

  .header-area .social-media img {
    margin-left: 5px;
  }

  .header-area.background-header .social-media {
    right: 70px;
  }

  .main-banner {
    border-radius: 0px 0px 50px 50px;
  }
}

/* 
---------------------------------------------
Services Style
--------------------------------------------- 
*/

.features {
  margin-top: -80px;
  position: relative;
}

.features .item {
  padding: 35px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  background-color: #fff;
  text-align: center;
}

.features .item h4 {
  font-size: 17px;
  margin-top: 25px;
  text-transform: uppercase;
}

.features .item .image {
  width: 90px;
  height: 90px;
  display: inline-block;
  text-align: center;
  line-height: 90px;
  background-color: var(--pink);
  border-radius: 50%;
  transition: all 0.3s;
}

.features .item:hover .image {
  background-color: #000110;
}

/* 
---------------------------------------------
rules Style
--------------------------------------------- 
*/

.rules .main-button {
  margin-top: 32px;
  text-align: right;
}

.rules .item {
  background-color: #eeeeee;
  position: relative;
  border-radius: 25px;
  margin-bottom: 30px;
}

.rules .item span.price em {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
  display: block;
}

.rules .item span.price {
  text-align: right;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 10px;
  background-color: var(--pink);
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 8px 15px 6px 15px;
}

.rules .item .down-content {
  padding: 25px;
  padding-top: 35%;
}

.rules .item .down-content span.category {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 5px;
  display: inline-block;
}

.rules .item .down-content h4 {
  font-size: 17px;
  font-weight: 600;
  transition: all 0.3s;
}

.rules .item .thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 10px;
  left: 28%;
  background-color: #fff;
  top: -17%;
  position: absolute;
  border-radius: 50%;
  /* margin-bottom: 25px; */
  box-shadow: 0 -2px 15px 1px #8888;
  height: 39%;
}

.rules .item .thumb img {
  height: 100px;
  width: fit-content;
}

.rules .item .thumb svg {
  height: 100px;
  width: fit-content;
}

/* 
---------------------------------------------
Most Played Style
--------------------------------------------- 
*/

.most-played {
  background-color: #f7f7f7;
  padding: 100px 0px;
  border-radius: 150px;
}

.most-played .main-button {
  margin-top: 32px;
  text-align: right;
}

.most-played .item {
  background-color: #fff;
  position: relative;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 40px;
}

.most-played .item .thumb {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.most-played .item .down-content {
  padding: 20px 15px 40px 15px;
}

.most-played .item .down-content span.category {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 5px;
  display: inline-block;
}

.most-played .item .down-content h4 {
  font-size: 17px;
  font-weight: 600;
  transition: all 0.3s;
}

.most-played .item .down-content a {
  position: absolute;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0px 15px;
  background-color: var(--lightBlue);
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  transition: all 0.3s;
}

.most-played .item:hover .down-content h4 {
  color: var(--darkBlue);
}

.most-played .item:hover .down-content a {
  background-color: var(--darkBlue);
}

/* 
---------------------------------------------
Categories Style
--------------------------------------------- 
*/

.categories .main-button {
  margin-top: 30px;
}

.categories .item {
  background-color: var(--darkBlue);
  position: relative;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.categories .item .thumb {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.categories .item h4 {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  padding: 22px;
  margin-bottom: 0px;
}

/* 
---------------------------------------------
game-experience Style
--------------------------------------------- 
*/

.game-experience {
  position: relative;
}

.game-experience::after {
  background-image: url(https://cdn.brainwars.win/assets%2Fimages%2Ffrom-app-game-page.png);
  background-size: cover;
  background-position: center;
  max-width: 40%;
  max-height: 550px;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  border-radius: 25px;
  left: 45%;
  transform: translateX(-275px);
  top: 0;
  z-index: -1;
}

.game-experience .home-page {
  margin-top: 80px;
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 2px;
  position: relative;
  left: -10%;
  top: -50px;
}

.game-experience .home-page .section-heading {
  margin-right: 30px;
  margin-bottom: 50px;
}

.game-experience .home-page p {
  font-weight: 600;
  font-size: 16px;
}

.game-experience .home-page img {
  width: 100%;
  overflow: hidden;
  border-radius: 23px;
}

.game-experience .home-page .main-button {
  margin-top: 50px;
}

.game-experience .winner-page {
  scale: 0.9;
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 2px;
  position: relative;
  left: 5%;
  top: 50px;
}

.game-experience .winner-page img {
  border-radius: 25px;
}

.game-experience .winner-page .section-heading {
  margin-bottom: 50px;
}
/* 
---------------------------------------------
Info Style
--------------------------------------------- 
*/

.info {
  position: relative;
}

.info::after {
  background-image: radial-gradient(
      circle at 82% 60%,
      rgba(59, 59, 59, 0.06) 0%,
      rgba(59, 59, 59, 0.06) 69%,
      transparent 69%,
      transparent 100%
    ),
    radial-gradient(
      circle at 36% 0%,
      rgba(185, 185, 185, 0.06) 0%,
      rgba(185, 185, 185, 0.06) 59%,
      transparent 59%,
      transparent 100%
    ),
    radial-gradient(
      circle at 58% 82%,
      rgba(183, 183, 183, 0.06) 0%,
      rgba(183, 183, 183, 0.06) 17%,
      transparent 17%,
      transparent 100%
    ),
    radial-gradient(
      circle at 71% 32%,
      rgba(19, 19, 19, 0.06) 0%,
      rgba(19, 19, 19, 0.06) 40%,
      transparent 40%,
      transparent 100%
    ),
    radial-gradient(
      circle at 77% 5%,
      rgba(31, 31, 31, 0.06) 0%,
      rgba(31, 31, 31, 0.06) 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 96% 80%,
      rgba(11, 11, 11, 0.06) 0%,
      rgba(11, 11, 11, 0.06) 73%,
      transparent 73%,
      transparent 100%
    ),
    radial-gradient(
      circle at 91% 59%,
      rgba(252, 252, 252, 0.06) 0%,
      rgba(252, 252, 252, 0.06) 44%,
      transparent 44%,
      transparent 100%
    ),
    radial-gradient(
      circle at 52% 82%,
      rgba(223, 223, 223, 0.06) 0%,
      rgba(223, 223, 223, 0.06) 87%,
      transparent 87%,
      transparent 100%
    ),
    radial-gradient(
      circle at 84% 89%,
      rgba(160, 160, 160, 0.06) 0%,
      rgba(160, 160, 160, 0.06) 57%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(0, 1, 16), rgb(152, 196, 199));
  background-position: center;
  max-width: 40%;
  max-height: 550px;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  border-radius: 50% 20px;
  left: 58%;
  transform: translateX(-275px);
  top: 0;
  z-index: -1;
}

.info .info-card {
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 50px;
}

.info .info-card .section-heading {
  margin-right: 30px;
  margin-bottom: 50px;
}

.info .info-card p {
  font-weight: 600;
  font-size: 16px;
}

.info .info-card img {
  width: 100%;
  overflow: hidden;
  border-radius: 23px;
}

.info .info-card .main-button {
  margin-top: 20px;
}

.info .subscribe {
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 80px 60px;
}

.info .subscribe .section-heading {
  margin-bottom: 50px;
}

.info .subscribe form {
  position: relative;
  max-width: 100%;
}

.info .subscribe form input {
  max-width: 100%;
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 25px;
  background-color: #fff;
  border: none;
  padding: 0px 25px;
  font-size: 14px;
  color: #7a7a7a;
}

.info .subscribe form button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background-color: var(--lightBlue);
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 25px;
  border: none;
  border-radius: 25px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s;
}

.info .subscribe form button:hover {
  background-color: var(--darkBlue);
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer {
  margin-top: 150px;
  background-image: linear-gradient(
      306deg,
      rgba(54, 54, 54, 0.05) 0%,
      rgba(54, 54, 54, 0.05) 33.333%,
      rgba(85, 85, 85, 0.05) 33.333%,
      rgba(85, 85, 85, 0.05) 66.666%,
      rgba(255, 255, 255, 0.05) 66.666%,
      rgba(255, 255, 255, 0.05) 99.999%
    ),
    linear-gradient(
      353deg,
      rgba(81, 81, 81, 0.05) 0%,
      rgba(81, 81, 81, 0.05) 33.333%,
      rgba(238, 238, 238, 0.05) 33.333%,
      rgba(238, 238, 238, 0.05) 66.666%,
      rgba(32, 32, 32, 0.05) 66.666%,
      rgba(32, 32, 32, 0.05) 99.999%
    ),
    linear-gradient(
      140deg,
      rgba(192, 192, 192, 0.05) 0%,
      rgba(192, 192, 192, 0.05) 33.333%,
      rgba(109, 109, 109, 0.05) 33.333%,
      rgba(109, 109, 109, 0.05) 66.666%,
      rgba(30, 30, 30, 0.05) 66.666%,
      rgba(30, 30, 30, 0.05) 99.999%
    ),
    linear-gradient(
      189deg,
      rgba(77, 77, 77, 0.05) 0%,
      rgba(77, 77, 77, 0.05) 33.333%,
      rgba(55, 55, 55, 0.05) 33.333%,
      rgba(55, 55, 55, 0.05) 66.666%,
      rgba(145, 145, 145, 0.05) 66.666%,
      rgba(145, 145, 145, 0.05) 99.999%
    ),
    linear-gradient(90deg, rgb(0, 1, 16), rgb(238, 98, 107));
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center;
  padding-bottom: 10px;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

footer p {
  line-height: 90px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

footer p a {
  color: #fff;
  transition: all 0.3s;
  position: relative;
  z-index: 3;
}

footer p a:hover {
  opacity: 0.75;
}

footer small a {
  color: var(--white);
  opacity: 0.5;
  font-size: 0.8em;
}

/* 
---------------------------------------------
Page Header Style
--------------------------------------------- 
*/

.page-heading {
  background-image: url(../images/page-heading-bg.jpg);
  border-radius: 0px 0px 150px 150px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px 100px 0px;
  text-align: center;
}

.page-heading span {
  display: inline-block;
  font-size: 16px;
  color: #fff;
}

.page-heading span a {
  color: #fff;
}

.page-heading h3 {
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
}

/* 
---------------------------------------------
info-card Page Style
--------------------------------------------- 
*/

.rules {
  background-image: url(https://cdn.brainwars.win/assets%2Fimages%2Fbackground-brush.png);
  background-size: 100% 100%;
  background-position: center;
}

.rules ul.rules-filter {
  list-style: none;
  text-align: center;
  margin-bottom: 70px;
}

.rules ul.rules-filter li {
  display: inline-block;
  margin: 5px 8px;
}

.rules ul.rules-filter li a {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #1e1e1e;
  background-color: #eee;
  padding: 8px 20px;
  border-radius: 25px;
  transition: all 0.3s;
}

.rules ul.rules-filter li a.is_active {
  background-color: var(--lightBlue);
  color: #fff;
}

.rules ul.rules-filter li a.is_active:hover {
  color: #fff;
}

.rules ul.rules-filter li a:hover {
  color: var(--lightBlue);
}

.rules .item {
  min-height: 350px;
}

.rules-box .item {
  background-color: #eeeeee;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  margin-bottom: 30px;
}

.rules-box .item .thumb {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.rules-box .item span.price em {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: line-through;
  display: block;
}

.rules-box .item span.price {
  text-align: right;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 10px;
  background-color: var(--pink);
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 8px 15px 6px 15px;
}

.rules-box .item .down-content {
  padding: 25px;
}

.rules-box .item .down-content span.category {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 5px;
  display: inline-block;
}

.rules-box .item .down-content h4 {
  font-size: 17px;
  font-weight: 600;
  transition: all 0.3s;
}

.rules-box .item .down-content a {
  position: absolute;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  background-color: var(--lightBlue);
  color: #fff;
  border-radius: 50%;
  right: 25px;
  bottom: 25px;
  transition: all 0.3s;
}

.rules-box .item:hover .down-content h4 {
  color: var(--darkBlue);
}

.rules-box .item:hover .down-content a {
  background-color: var(--darkBlue);
}

.rules ul.pagination {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.rules ul.pagination li {
  display: inline-block;
  margin: 0px 5px;
}

.rules ul.pagination li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #eee;
  color: #1e1e1e;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50%;
  transition: all 0.3s;
}

.rules ul.pagination li a:hover,
.rules ul.pagination li a.is_active {
  background-color: var(--darkBlue);
  color: #fff;
}

/* 
---------------------------------------------
Single Page Style
--------------------------------------------- 
*/

.single-product .sep {
  width: 100%;
  height: 1px;
  background-color: #eee;
  margin: 80px 0px;
}

.single-product .left-image {
  margin-right: 80px;
}

.single-product .left-image img {
  border-radius: 25px;
}

.single-product h4 {
  font-size: 27px;
  margin-bottom: 20px;
}

.single-product span.price {
  font-size: 27px;
  font-weight: 700;
  color: var(--darkBlue);
}

.single-product span.price em {
  font-style: normal;
  color: #c8c8c8;
  font-size: 17px;
  text-decoration: line-through;
  font-weight: 500;
  margin-right: 5px;
}

.single-product p {
  margin-top: 50px;
  margin-bottom: 60px;
}

.single-product form input {
  width: 80px;
  height: 50px;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  border-radius: 25px;
  text-align: center;
  float: left;
  margin-right: 15px;
}

.single-product form {
  display: inline;
}

.single-product form button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background-color: var(--lightBlue);
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 25px;
  border: none;
  border-radius: 25px;
  transition: all 0.3s;
}

.single-product form button i {
  margin-right: 5px;
}

.single-product form button:hover {
  background-color: var(--darkBlue);
}

.single-product ul {
  margin-top: 60px;
}

.single-product ul li {
  display: block;
  margin: 20px 0px;
  font-size: 14px;
  color: var(--darkBlue);
}

.single-product ul li:last-child {
  margin-bottom: 0px;
}

.single-product ul li span {
  width: 120px;
  display: inline-block;
  color: #aaa;
}

.tabs-content {
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 60px;
  transition: all 0.3s;
}

.tabs-content .nav-link {
  border: none;
  border-radius: 0px;
  background-color: transparent !important;
  font-size: 20px;
  font-weight: 600;
  color: #1e1e1e;
  padding: 0px;
}

.tabs-content ul.nav-tabs {
  border-bottom: none;
}

.tabs-content ul.nav-tabs li {
  border-right: 1px solid #d7d7d7;
  margin-right: 30px;
  padding-right: 30px;
}

.tabs-content ul.nav-tabs li:last-child {
  border-right: none;
  margin-right: 0px;
  padding-right: 0px;
}

.tabs-content .nav-tabs .nav-link.active {
  color: var(--darkBlue);
}

.tabs-content .tab-content {
  margin-top: 30px;
}

.related-games .main-button {
  text-align: right;
  margin-top: 32px;
}

/* 
---------------------------------------------
Contact PAge Style
--------------------------------------------- 
*/

.contact-page .left-text {
  background-color: #f7f7f7;
  border-radius: 25px;
  padding: 60px;
}

.contact-page .left-text .section-heading {
  margin-bottom: 50px;
}

.contact-page .left-text p {
  margin-bottom: 50px;
}

.contact-page .left-text ul li {
  display: block;
  font-size: 16px;
  color: #aaaaaa;
  font-size: 300;
  margin-bottom: 30px;
}

.contact-page .left-text ul li:last-child {
  margin-bottom: 0px;
}

.contact-page .left-text ul li span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #4a4a4a;
  margin-bottom: 5px;
}

.contact-page .right-content {
  margin-left: 50px;
}

.contact-page .right-content #map {
  margin-bottom: 60px;
}

.contact-page .right-content form input {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  padding: 0px 20px;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 30px;
}

.contact-page .right-content form textarea {
  width: 100%;
  height: 130px;
  border-radius: 25px;
  padding: 20px 20px;
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 30px;
}

.contact-page .right-content form button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  background-color: var(--lightBlue);
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 25px;
  border: none;
  border-radius: 25px;
  transition: all 0.3s;
}

.contact-page .right-content form button:hover {
  background-color: var(--darkBlue);
}

/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

body {
  overflow-x: hidden;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .header-area .main-nav .logo img {
    width: 50px;
  }
  .header-area .main-nav .nav li a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-area .main-nav ul.nav {
    margin-top: 0px;
  }
  .background-header .main-nav ul.nav {
    margin-top: 20px;
  }
  .main-banner .caption {
    margin-bottom: 45px;
    text-align: center;
  }
  .main-banner .caption form,
  .main-banner .caption form input {
    max-width: 100%;
  }
  .features .item {
    margin-bottom: 30px;
  }

  .most-played .section-heading {
    text-align: center;
  }
  .game-experience::after {
    max-width: 100%;
    width: 99%;
    height: 40%;
    left: 35%;
    top: 50%;
  }
  .game-experience .home-page {
    padding: 2px;
    margin-bottom: 30px;
  }
  .game-experience .subscribe {
    padding: 30px;
  }
  .game-experience .home-page .section-heading {
    margin-right: 0px;
  }
  .cta .info-card {
    padding: 30px;
    margin-bottom: 30px;
  }
  .cta .subscribe {
    padding: 30px;
  }
  .cta .info-card .section-heading {
    margin-right: 0px;
  }
  .rules ul.rules-filter li a {
    font-size: 13px;
    padding: 8px 10px;
  }
  .rules ul.rules-filter li {
    margin: 5px 2px;
  }
  .single-product .left-image {
    margin-right: 0px;
    margin-bottom: 45px;
  }
  .tabs-content .nav-link {
    font-size: 16px;
  }
  .tabs-content ul.nav-tabs li {
    margin-right: 15px;
    padding-right: 15px;
  }
  .page-heading {
    padding: 140px 0px 100px 0px;
  }
  .contact-page .right-content {
    margin-left: 0px;
    margin-top: 45px;
  }
  .rules .item {
    margin-top: 50px;
  }
  .rules .item .thumb {
    height: 43%;
  }
  .info .subscribe {
    padding: 60px 60px;
    margin-top: 120px;
  }
  .info .info-card {
    padding: 60px;
  }
  .info::after {
    max-width: 100%;
    width: 80%;
    left: 45%;
    top: 35%;
  }
  .header-area.background-header .social-media {
    left: 25%;
  }

  .rules {
    background-image: none;
  }
}

@media (max-width: 767px) {
  .header-area {
    top: 0;
  }
  .main-banner .right-image span.offer {
    left: 20px;
    bottom: 20px;
  }
  .game-experience .subscribe form button {
    position: relative;
    width: 100%;
    margin-top: 15px;
  }
  .info .subscribe form button {
    position: relative;
    width: 100%;
    margin-top: 15px;
  }
  .main-banner .caption h2:after {
    left: 75px;
  }

  .header-area .main-nav .logo img {
    width: 50px !important;
  }

  .play-now-link {
    background-color: var(--pink);
  }
  .info::after {
    max-width: 100%;
    width: 99%;
    left: 67%;
    top: 35%;
  }
  .info .subscribe {
    padding: 40px 40px;
  }
  .info .info-card {
    padding: 40px;
  }
  .rules .item .thumb {
    height: 49%;
  }
  .game-experience::after {
    left: 67%;
  }

  .game-experience .home-page {
    left: -1%;
    top: -70px;
  }

  .game-experience .winner-page {
    top: 100px;
  }
}

/*
==============================================
floating
==============================================
*/

.floating:hover {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

/*
==============================================
slideDown
==============================================
*/

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
  animation-count: 1;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  65% {
    -webkit-transform: translateY(-4%);
  }
  80% {
    -webkit-transform: translateY(4%);
  }
  95% {
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
